@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
section{
    background-color: var(--background_color)
 }
:root{
    --content_text_color: rgba(255, 255, 255, 0.66);
   --heading_text_color: rgb(255, 255, 255);
   --background_color: #0C0F14;
   --content-background_color: #1F2531;
   --button_background_color: #1774FB;
   --anchor_line_color: #0059FA;
}
 /*-------------------- homepage coloring ---------------- */
 nav{

 }

 .custom-shape-divider-bottom-1723531723 {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
}

.custom-shape-divider-bottom-1723531723 svg {
   position: relative;
   display: block;
   width: calc(150% + 1.3px);
   height: 130px;
}

.custom-shape-divider-bottom-1723531723 .shape-fill {
   fill: #0077ff;
}
 .Home-page{
      /* background-image: linear-gradient(45deg, #1e184fc7, #1e184fd3),url('../image/pexels-negative-space-169573.jpg'); */
 }
 .logo h1{
     color: var(--heading_text_color);
 }
 nav ul li {
     list-style: none;
     
 }
 nav ul li button a{
    
 } 
 .nav ul li a{ 
    padding: 10px;
     text-decoration: none;
 }
 .menu i{ 
    color: var(--text_color);
 }
 aside .content{
    /* background-color: var(--content-background_color); */
     border-radius: 11px;   
 }
 .content-details h1{
    color: var(--heading_text_color);
 }
 .content-details h3{
    color: var(--heading_text_color);
 }
 .content-details p{
    color: var(--content_text_color);
 }
 .content-btn{
 
 }
 .content-btn button {
     background-color: var(--button_background_color)

 }
 .content-btn button a{
    color: var(--heading_text_color);
 }
 
 
 
 
 /* ------------------------about me coloring-------------- */
 .about-me{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }
 .heading{
    color: var(--text_color);
 }
 .heading h2{
    color: var(--heading_text_color);
 }
 .line{
 
 }
 .about-content .about-details{
     /* background-color: rgba(255, 255, 255, 0.214);
     backdrop-filter: blur(1px); */
     padding: 20px;
     /* border-radius: 10px; */
 }
 .about-container{
     background-color: var(--content-background_color);;
     backdrop-filter: blur(100px);
     border-radius: 11px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.273);
     margin-bottom: 10px;
 }
 .about-details p{
    color: var(--content_text_color);
 }
 
 .skills-box{
     /* background-color: var(--content-background_color); */
     padding: 10px;
     
 }
 .icon-name{
    color: var(--heading_text_color);
 }
 .resume_container{
     background-color: var(--content-background_color);
 }
 .tabs h3{
    color: var(--heading_text_color);
 }
 
 .res-contact h4{
    color: var(--heading_text_color);
 }
 .res-contact h5{
    color: var(--Heading_text_color);
 }
 .con-details address ,.con-details h5,.con-social-icon h5{
    color: var(--heading_text_color);
 }
 .con-details p{
    color: var(--content_text_color);
     text-align: justify;
     font-size: 17px;
 }
 .years h1,.years h2{
    color: var(--heading_text_color);
 }
 
 .left-line,.right-line{
     background-color: var(--anchor_line_color);
 }
 .per-round{
     background-color: var(--button_background_color);
 }
 .per-round h6{
    color: var(--heading_text_color);
 }
 .clg-details p{
    color: var(--content_text_color);
 }
 .li-box {
 background: none;
 }
 .li-body{
     background-color: #0066ff;
 }
 .project-box-main{
     background-color: var(--content-background_color);
 }
 a{
color: var(--heading_text_color);
 text-decoration: none;
 }
 .project-btn a{
     background-color:  var(--button_background_color);
     color: var(--heading_text_color);
     text-decoration: none;
 }
 .project-details p{
    color: var(--content_text_color);
 }
 .project-code a{
    color: var(--heading_text_color);
     background-color: var(--button_background_color);
 }
 .project-code a:hover{
    color: var(--heading_text_color);
 }
 .project-details a:hover{
    color: var(--heading_text_color);
 }
 