section{
   /* background-color: #1e184f; */
   background:linear-gradient(56deg, #510E7F,#41179B);
}
/*-------------------- homepage coloring ---------------- */
nav{
   
    backdrop-filter: blur(6px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}
.Home-page{
     background-image: url('../image/background/8275340.jpg');
}
.logo h1{
    color: white;
}
.nav ul li {
    list-style: none;
    
}
ul button{
     background:linear-gradient(120deg,#510E7F,#31b2f753);
    backdrop-filter: blur(100px);
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
ul button a{
    text-decoration: none;
    color: white;
}
ul button a:hover{
    color: white;
}
.nav ul li a{ 
    color: white;
    text-decoration: none;
}
.menu i{ 
    color: white;
}
aside .content{
    background-color: #1e184f54;
    backdrop-filter: blur(6px);
    border-radius: 11px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.754);
}
.content-details h1{
color: white;
}
.content-details h3{
   color: white;
}
.content-details p{
    color: white;
}
.content-btn{

}
.content-btn button {
   background:linear-gradient(120deg,#510E7F,#31b2f753);
    backdrop-filter: blur(100px);
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.content-btn button a{
    color: white;
}




/* ------------------------about me coloring-------------- */
.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    color: white;
}
.heading h2{
    color: white;
}
.line{

}
.about-content .about-details{
    /* background-color: rgba(255, 255, 255, 0.214);
    backdrop-filter: blur(1px); */
    padding: 20px;
    /* border-radius: 10px; */
}
.about-container{
    background:linear-gradient(120deg,#510E7F,#31b2f753);
    backdrop-filter: blur(100px);
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
}
.about-details p{
color: white;
}

.skills-box{
    background:linear-gradient(30deg,#510E7F,#31b2f753);
    backdrop-filter: blur(100px);
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.icon-name{
    color: white;
}
.resume_container{
    background:linear-gradient(120deg,#510E7F,#31b2f753);
    backdrop-filter: blur(100px);
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tabs h3{
    color: white;
}

.res-contact h4{
    color: white;
}
.res-contact h5{
    color: white;
}
.con-details address ,.con-details h5,.con-social-icon h5{
    color: white;
}
.con-details p{
    color: white;
    text-align: justify;
    font-size: 17px;
}
.years h1,.years h2{
    color: white;
}

.left-line,.right-line{
    background-color: white;
}
.per-round{
    background-color: white;
}
.per-round h6{
    color: black;
}
.clg-details p{
    color: white;
}
.li-box {
background: none;
}
.li-body{
}
.project-box-main{
    background:linear-gradient(120deg,#510E7F,#31b2f753);
    backdrop-filter: blur(100px);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
a{
color: white;
text-decoration: none;
}
.project-btn a{
    background:linear-gradient(120deg,#510E7F,#31b2f753);
    backdrop-filter: blur(100px);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    text-decoration: none;
}
.project-btn a:hover{
    color: white;
}
.project-details p{
color: white;
}
.project-code a{
    color: white;
    background:linear-gradient(120deg,#510E7F,#31b2f753);
    backdrop-filter: blur(100px);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.project-code a:hover{
    color: white;
}
.project-details a:hover{
    color: white;
}
