@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --main-body-color: rgb(0, 0, 0);
    --main-box-background-color: rgb(31, 31, 31);
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
body{
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    
 
}
/*-------------------------- Nav bar start -------------------------- */

/* .grid-container{
    width: 100%;
    display: grid;
    grid-template-areas: 
    'nav nav nav'
    'aside aside aside'
    'article article article'
    ;
} */

nav{
    /* grid-area: 'nav'; */
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    border-radius: 10px;
    
}
nav ul{
    transition: 0.5s all ease-in-out;
    margin: 0;
}
nav ul li{
    display: inline-block;
    padding: 10px;
    

}
a{
    text-decoration: none;
    color: white;
}
nav ul li a{
    text-decoration: none;
    /* font-size: 1.2em; */
    color:white;
    position: relative;
    
}
nav ul li a:hover{
    color: white;
}
nav ul li a::before{
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 10px;
    width: 0px;
    left: 0;
    bottom: -5px;
    background-color: var(--anchor_line_color);
    transition: 0.5s all ease-in-out;
}
nav ul li a:hover::before{
    width: 100%;
}

nav button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--button_background_color);
  
}
nav button a{
    color: var(--heading_text_color);
}
nav button a:hover{
    color: var(--heading_text_color);
}
.menu{
    cursor: pointer;
    align-items: center;
    font-size: 30px;
    display: none;
}


/*-------------------------- Nav bar end -------------------------- */

/*-------------------------- banner  start -------------------------- */
aside{

    /* grid-area: 'aside'; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 30px;
    margin-top: 20px;

}
.Home-page{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
aside .content{
    width: 600px;
    padding: 10px 20px;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    /* border: 1px solid rgba(45, 45, 45, 0.58); */
}



aside button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
}
aside button a{
    text-decoration: none;
}
nav button a{
    text-decoration: none;
}
aside p{
   text-align: justify;
   margin-top: 10px;
}
aside h3{
    margin-top: 10px;
}
aside h1{
    font-size: 34px;
}


/*-------------------------- banner  end -------------------------- */

/*-------------------------- aboutme  start -------------------------- */

article{
    /* grid-area: 'article'; */
    /* background-color: rgba(205, 205, 205, 0.498); */
    padding: 10px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;

}
.heading h2{
    font-size: 25px;
    position: relative;
  

}
.heading h2::before{
    content: "";
    position: absolute;
    width: 0px;
    left: 0;
    height: 3px;
    background-color: white;
    bottom: -5px;
    transition: 0.5s all ease-in-out;
}
.heading h2:hover::before{
    width: 100%;
}

.about-img{
    width: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-img img{
    width: 100%;
    align-items: center;
    border-radius: 50px;
}
.about-container{
    width: 90%;
    padding: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.about-content{
    width: 600px;
    padding: 10px;
}
.about-details{
  
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
}

.about-social-icon{
    width: 100%;
    padding: 20px;
}
.about-social-icon img{
    margin: 5px;
}

.line{
    width: 3px;
    height: 200px;
    position: relative;
    border-radius: 10px;
}


/*-------------------------- aboutme  end -------------------------- */

/*-------------------------- skills  start -------------------------- */

.box{
    width: 200px;
    display: inline-block;

}
.main-container{
    width: 100%;
    height: auto;
}
.skills-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icon-name img{
    margin-bottom: 10px;
}
.skills-box{
    width:250px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-icons{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;


}
.heading h2{
    font-size: 25px;
    position: relative;

}
.heading h2::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 0px;
    left: 0;
    height: 3px;
    bottom: -5px;
    transition: 0.5s all ease-in-out;
}
.heading h2:hover::before{      
    width: 100%;
}
.icon-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hh{
}


#resume{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
}


.resume_container {
    width:90%;
    margin-bottom: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    /* position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 120px; */
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);

  }
  .tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    padding: 10px 10px 5px 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.254);
    


  }

  .tabs h3{
    width: 80%;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 10px;
    margin: 10px;
  }
  .tab-content {
    padding: 50px 40px;
    transition: 0.5s;
  }
  .tab-content h4 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .tab-content p {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
  }
  .tab-content .res-contact {
    display: none;
  }
  .tab-content .active {
    display: block;
  }
  .tabs .active {

  }
  .tabs .active h4{

  }
.con-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.con-details{
    width: 500px;
}

.contact-img{
    width: 300px;
    border-radius: 20px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact-img img{
width: 100%;
align-items: center;
border-radius: 50px;
}

  .bca-container{
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
   
  

  }
  .bca-container:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(0.9);

  }
  .years{
    margin-right: 20px;
    margin-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .years h1{
    font-size: 17px;
  }
  .years h2{
    font-size: 15px;
  }

  .percentage{
    width: 150px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  .left-line,.right-line{
    width: 30px;
    height: 3px;
    margin: 5px;

    
  }
  .per-round{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    padding: 2px 10px;
    text-align: center;
  }
  .per-round h6{
    margin: 0;
    font-size: 13px;
    color: white;
    text-align: center;
  }
  .clg-details{
    flex-basis: 50%;
    font-size: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
.linkedin-content{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.li-box{
    width: 13rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}
.li-body{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.link-btn{
    display: flex;
    justify-content: center;
    align-items: center;

}
.link-btn a{
    margin: 5px;
}



#portfolio{
    width: 100%;
}
.project-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.project-code{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}
.project-code a{
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    
}
.project-details{
    width: 100%;
    padding: 10px;
    text-align: justify;

}
.prj-img
{
    width: 90%;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-image: url('../image/pexels-juan-733475.jpg');

}

.project-box-main{
    width: 300px;
    height: auto;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.project-btn{
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.project-btn a{
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
}

@media all and (max-width:600px){
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    nav ul li{
        display: block;
        text-align: center;
        transition: 0.5s;
       
    }
    nav ul button{
        margin-bottom: 20px;
    }
    aside{
        transition: 0.5s;
    }
    .content{
        margin: 10px;
        margin-bottom: 20px;
    }
    nav ul{
        padding: 0;
        display: none;

    }
    .logo{
        align-self: flex-start;
    }
    .menu{
        display: block;
        position: absolute;
        top:1px;
        right: 27px;
        
    }
    .contact-img{
        width: 200px;
       
    }
    .con-container{
        padding: 10px;
        flex-direction: column;
    }
    .con-content{
        padding: 10px;
        width: 100%;
    }
    .line{
        display:none;
    }
    .showdata{
        display: block;
    }


    .bca-container{
        flex-direction: column;
    }
    .percentage{
        flex-direction: column;
    }
    .left-line{
        width: 3px;
        height: 30px;
    }
     .right-line{
        width: 3px;
        height: 30px;
    }
    .clg-details{
       flex-basis: 100%;
    }
    .tabs h3{
        font-size: 15px;
    }
    .clg-details p{
        text-align:center;
      
    }
    .tab-img{
        flex-basis: 70%;
    }
  .li-box{
    flex-basis: 40%;
}
.li-box img{
    width: 70px;
}
.link-btn{
    flex-basis: 10%;
    display: flex;
    flex-direction: column;

}
.link-btn a{
    font-size: 13px;
}
.skills-box{
    width: 120px;
    display: block;
}
.skills-icons{
    flex-basis: 90%;
}
.box{
    width: 90px;
    display: block;

}
.icon-name img{
    width: 40px;
}
.icon-name h4{
    font-size: 14px;
}
.con-details{
    width: 100%;
}

}

